.atualizar-produto-conteiner{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.content-atualizar{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

.form-atualiza-produto h1{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3px;
    color:rgb(82, 13, 24);
    text-align: center;
    margin-bottom: 10px;
}

.produto-form-atualizar{
    margin: 0 10% 0 10%;
    display: flex;
    padding: 15% 5%;
    background-color: #ecebec;
    height: 700px;
    box-shadow: 0 0 10px 6px #afa7a7;
    border-radius: 8px;
    flex-direction: row;
    justify-content: space-evenly; 
    max-width: 960px; 
}

.produto-form .logo-carrinho-compras{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.produto-form .form-cadastro-produto{
    margin-top: 50px;
}

.produto-form input{
    font-family: "open-sans", sans-serif;
    margin-right: 5%;
    margin-bottom: 10px;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
    height: 35px;
}

.logo-carrinho-compras{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-cadastro-produto{
    width: 70%;
    display: flex;
    flex-direction: column;
}